.ant-layout {
  background-color: $white !important;
}

.bg-white {
  background: $white;
}

.bg-gray {
  background: $light-gray-2;
}

.app-layout-header {
  &.ant-layout-header {
    height: auto;
    line-height: normal;
    padding: 8px 16px;
    background-color: $layout-header-color;
    border-bottom: 1px solid $border-color;
  }
}

.content-header {
  padding: 8px 16px;
}

.page-title {
  min-height: 32px;

  .title {
    font-size: $s-18;
    font-weight: 400;
    margin-bottom: 0;
    color: $black;
  }

  .sub-title {
    margin-left: 12px;
    color: $suva-grey;
  }
}
