.ant-layout {
  background-color: $white !important;
}

.bg-white {
  background: $white;
}

.bg-gray {
  background: $light-gray-2;
}

.app-layout-header {
  &.ant-layout-header {
    height: auto;
    line-height: normal;
    padding: 8px 16px;
    background-color: $layout-header-color;
    border-bottom: 1px solid $border-color;
  }
}

// .app-layout-content {
//   max-height: 100%;
//   overflow: auto;
// }

// .layout {
//   height: calc(100vh - 42px);
// }

.content-header {
  padding: 8px 16px;
}

// .container {
//   max-width: 960px;
//   width: 100%;
//   margin: auto;

//   &-md {
//     max-width: 600px;
//   }
// }

// .layout-wrapper {
//   background: $white;
// }

.page-title {
  min-height: 32px;

  // .btn-back {
  //   margin-right: 8px;
  //   padding: 5px;

  //   > span {
  //     font-size: $s-13; // should recheck
  //   }
  // }

  .title {
    font-size: $s-18;
    font-weight: 400;
    margin-bottom: 0;
    color: $black;
  }

  .sub-title {
    margin-left: 12px;
    color: $suva-grey;
  }
}

// .app-spin,
// .app-spin .ant-spin-container {
//   height: 100%;
// }
