.app-button {
  min-width: 72px;

  &:hover {
    opacity: 0.8;
  }

  &.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover {
    color: $blue !important;
    border-color: $blue !important;
  }
}
