.empty-tenant-content {
  width: 513px;
  display: block;
  margin: 6px auto 10px;
  font-size: $s-12;
  color: $suva-grey;

  .empty-tenant-title {
    font-size: $s-14;
    text-align: center;
    color: $black;
  }

  ul {
    width: 502px;
    padding-left: 20px;
    line-height: $s-18;
    list-style: initial;

    li {
      color: $suva-grey;
    }
  }
}

.tenant-list {
  .title {
    margin-bottom: 17.5px;
    font-size: $s-20;
    color: $black;
  }

  .tenant-search {
    margin-bottom: 26px;

    .ant-input-group {
      .ant-input-affix-wrapper:not(:last-child) {
        padding-right: 30px;
        border-start-start-radius: 4px;
        border-end-start-radius: 4px;
        box-shadow: none;
      }

      .clear-icon {
        position: absolute;
        top: 50%;
        right: 6px;
        transform: translateY(-50%);
        padding: 5px;
        border-radius: 50%;
        color: $black;
        transition: all 0.2s ease-in-out;
        z-index: 99;

        &:hover {
          background-color: $light-blue-2;
        }
      }

      .ant-input-group-addon:last-child {
        .ant-input-search-button {
          width: 56px;
          border-start-end-radius: 4px;
          border-end-end-radius: 4px;

          .anticon {
            color: $suva-grey;
            font-size: $s-18;
          }
        }
      }
    }
  }

  .tenant-item {
    padding: 6px;
    border-radius: 4px;

    &:hover {
      background-color: $light-gray-2;
    }
  }

  .name {
    font-size: $s-14;
    color: $black;
  }

  .identification-code {
    color: $suva-grey;
    font-size: $s-12;
  }

  .type {
    padding: 1px 8px;
    color: $black;
    background: $white-smoke;
    font-size: $s-12;
    border: 1px solid $light-gray;
    border-radius: 4px;
  }

  .button-cancel {
    display: block;
    margin: 32px auto 0;
  }
}

.member-error-card {
  padding: 24px;
  background: $white;

  .title {
    margin-bottom: 26px;
    font-size: $s-18;
    font-weight: 400;
    line-height: $s-32;
    text-align: center;
  }

  ul {
    margin: 0;
    padding-left: 20px;

    li {
      line-height: 1.7;
    }
  }
}
