$black: #303030;
$black-2: #3a3a3a;
$blue: #3b7de9;
$blue-gray: #32373f;
$dark-gray: #7c8291;
$dark-gray-2: #42474f;
$dark-gray-3: #666666;
$sonic-silver: #777777;
$dark-purple: #9cabd4;
$quicksilver: #999999;
$gray: #d4d8dd;
$suva-grey: #919191;
$gainsboro: #d9d9d9;
$light-gray: #e2e2e2;
$light-gray-2: #f6f6f6;
$light-gray-3: #f5f5f5;
$light-gray-4: #c6c6c6;
$light-blue: #cbe6ff;
$light-blue-2: #ebf1fb;
$light-purple: #c2d1fc;
$orange: #e29e00;
$red: #ec4949;
$white: #ffffff;
$white-smoke: #f1f1f1;
$peach: #ffedea;
$pinkish-red: #bc1227;

$placeholder-color: $suva-grey;
$border-color: $gray;
$layout-header-color: $white;
$sider-bg-color: $blue-gray;
$sider-border-color: $dark-gray-2;
$sider-text-color: $light-purple;
$sider-group-text-color: $dark-purple;
$error-color: $red;
$danger-color: $red;
$primary-color: $blue;
$avatar-bg-color: #35466a;

$button-outline-bg-color: $white;
$button-text-color: $white;
$button-disabled-text-color: $suva-grey;
$button-disabled-bg-color: $white-smoke;

$table-header-cell-color: $white-smoke;
$table-cell-border-color: $light-gray;
$table-header-cell-divider-color: $light-gray;

$selected-bg-color: $light-blue;
$list-border-color: $light-gray;
$hovered-bg-color: $light-blue-2;

$s-12: 0.75rem;
$s-13: 0.8125rem;
$s-14: 0.875rem;
$s-16: 1rem;
$s-18: 1.125rem;
$s-20: 1.25rem;
$s-24: 1.5rem;
$s-32: 2rem;
